.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }

  .tab-icon {
    color: red;
    font-size: 16px;
    margin-right: 3px;
  }

  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 13px;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    width: 180px;
    font-size: 15px;
    background: #f5deb34d;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 20px; bottom: 5px; width: 140px; height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #181838;
    color: white;
  }
  
  .tab-panel { padding: 30px 0; border-top: 1px solid #ccc;}
   
  .tabset { max-width: 60em; margin-top: 23px;}
  .chart-install {color: white; padding: 20px 30px; 
    background: #181838;margin-top: 23px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .card-img-top-detail {max-height: 100px }
  .chart-icon-container {background: white;}
  .chart-install-input {padding: 10px; width: 225px; border:none; color:#181848; margin-bottom:10px}
  .chart-description {margin: 10px 15px; font-size: 17px;}
  .chart-name {font-size: 30px;}
  .chart-box {display: flex; padding: 15px;}
  .chart-metadata {margin: 12px;}