.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }

  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 13px;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    width: 130px;
    font-size: 15px;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px; bottom: 5px; width: 100px; height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #181838;
    color: white;
  }
  
  .tab-panel { padding: 30px 0; border-top: 1px solid #ccc;}
   
  .tabset { max-width: 60em; margin-top: 23px;}
  .chart-install {color: #181838; float: right; padding: 2px;}
  .card-img-top-detail {max-height: 100px }
  .chart-icon-container {background: white;}
  .chart-install-input {padding: 10px 0px; width: 225px; border:none; border-bottom: 1px solid #181838;}
  .chart-description {margin: 10px 5px; font-size: 17px;}
  .chart-name {font-size: 30px;}
  .chart-box {display: flex}
  .chart-metadata {margin: 12px;}