/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Oswald);
/* Variables */
/* Styles */
html{ height:100%; }
body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    min-height:100%; padding:0; margin:0; position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    color: #565656;
  }
  body h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 50px 0px;
    color: #A9A9A9;
  }
  body .wrapper {
    background: white;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    min-height: 480px;
    /* I don't like this, i will probably replace with a sass loop at some point */
  }
  body .wrapper label {
    width: 200px;
    height: 200px;
    background: #181848 !important;
    display: inline-block;
    border-radius: 2px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #181848;
  }
  body .wrapper label span {
    color: white;
    font-size: 13px;
    position: relative;
    top: 10px;
  }
  body .wrapper label p {
    margin: 25px;
    color: white;
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto;
    top: 25px;
    font-size: 10px;
  }


  body .wrapper label a {
    display: none;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 10px;
    right: 0;
    margin: 0 auto;
  }
  body .wrapper input[type='checkbox'] {
    display: none;
  }
  body .wrapper input[type='checkbox']:checked + label a, body .wrapper input[type='checkbox']:checked + label p {
    display: block;
  }
  body .wrapper input[type='checkbox']:checked + label span, body .wrapper input[type='checkbox']:checked + label div {
    visibility: hidden;
  }
  body .wrapper input[type='checkbox']:checked + label {
    left: 0;
    transform: scale(3.33);
    z-index: 122221;
    transition-duration: 0.1s;
    position: relative;
    transition-property: transform;
    top: 0;
    background: #5d85a1;
  }
  body .wrapper input[type='checkbox']:not(:checked) + label {
    transform: scale(1);
    transition-duration: 0.1s;
    transition-property: transform;
  }
  body .wrapper label:nth-of-type(1) {
    transform-origin: 0% 0%;
  }
  body .wrapper label:nth-of-type(2) {
    transform-origin: 50% 0%;
  }
  body .wrapper label:nth-of-type(3) {
    transform-origin: 100% 0%;
  }
  body .wrapper label:nth-of-type(4) {
    transform-origin: 0% 50%;
  }
  body .wrapper label:nth-of-type(5) {
    transform-origin: 50% 50%;
  }
  body .wrapper label:nth-of-type(6) {
    transform-origin: 100% 50%;
  }
  body .wrapper label:nth-of-type(7) {
    transform-origin: 0% 100%;
  }
  body .wrapper label:nth-of-type(8) {
    transform-origin: 50% 100%;
  }
  body .wrapper label:nth-of-type(9) {
    transform-origin: 100% 100%;
  }

.icon-container {
  background: white;
}

.card-img-top {
    max-width: 90%;
    margin: 20px 10px;
    max-height: 80px;
}

.chart-info {
  color: white;
  margin-top: 5px;
  font-weight: 100;
  font-size: 20px; 
}

.version {
 font-size: 12px; 
}

.chart-mirror-bg {
  background: #181838 !important;
  border: none;
  border-radius: 0
}

.chart-mirror {
  color: white !important
}