@import url(https://fonts.googleapis.com/css?family=Oswald);
html{ height:100%; }
body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    min-height:100%; padding:0; margin:0; position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .wrapper {
    background: white;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    min-height: 480px;
  }
  body .dash-tile {
    width: 200px;
    height: 200px;
    background: #181848 !important;
    display: inline-block;
    border-radius: 2px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #181848;
  }
.icon-container {
  background: white;
}
.card-img-top {
    max-width: 90%;
    margin: 20px 10px;
    max-height: 80px;
}
.chart-info {
  color: white;
  margin-top: 5px;
  font-weight: 100;
  font-size: 20px; 
}
.version { font-size: 12px; }
.chart-mirror-bg {
  background: #181838 !important;
  border: none;
  border-radius: 0
}
.chart-mirror { color: white !important }

.chart-mirror-search {padding: 10px}