<!--footer.html-->
<footer>
<div class="footer-bottom">
        <div class="container">
          <div class="row">

            <div class="col-md-3">
              <div class="footer-site-info">2020 © <a href="https://github.com/sonujose/chartsMirror" target="_blank">Charts Mirror Dashboard </a></div>
            </div>

            <div class="col-md-6">
              <nav id="footer-navigation" class="site-navigation footer-navigation centered-box" role="navigation">
                <ul id="footer-menu" class="nav-menu styled clearfix inline-inside">
                  <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a href="https://github.com/sonujose/chartsMirror">Support</a></li>
                  <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="https://github.com/sonujose/chartsMirror">Contact Us</a></li>
                  <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a href="https://github.com/sonujose/chartsMirror">Disclaimer</a></li>
                  <li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a href="https://github.com/sonujose/chartsMirror">Add more</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
</footer>
</body>
</html>