
<!--Embed the header.html template at this location-->
{{ template "header.tmpl" .}}

<!-- Dashboard Card Tiles -->
<div class='wrapper'>
  {{range $k, $v:= .chartData}}
  <label>
    <div>
      <div class="icon-container">
        {{ if (index $v 0).Icon}}  
        <img class="card-img-top" src={{ (index $v 0).Icon }}>
        {{else}}
        <img class="card-img-top" src="static/img/default_icon.png">
        {{end}}
    </div>
      <div>{{ (index $v 0).Name }}</div>
    </div>
    <div>Version : {{ (index $v 0).Version }}</div>
  </label>
  {{end}}
</div>

<!-- Footer section -->
{{ template "footer.tmpl" .}}