
<!--Embed the header.html template at this location-->
{{ template "header.tmpl" .}}

<h1>Hello ChartsMirror!</h1>

{{range .chartData }}
    <a href="/article/view">
      <h2>{{.Name}}</h2>
    </a>
    <p>{{.Description}}</p>
    <div>{{.Version}}</div>
{{end}}

<!-- Footer section -->
{{ template "footer.tmpl" .}}