
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Charts Mirror Dashboard
        </a>
      </div>
    </div>
  </nav>