
<nav class="navbar navbar-default chart-mirror-bg">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand chart-mirror" href="/">
          Charts Mirror Dashboard
        </a>
      </div>
    </div>
  </nav>